/*selectores{estilos}
tipos de selectores
1- Etiquetas h1, p
2- Clase .+Nombre parte de un grupo de etiquetas
3. Id #+nombre id que tienen las etiquetas*/

body{
    background-color: pink;
}

.fondoverde{
    background-color: green;
}

h2 {
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#tituloprincipal{
 background-color: rgb( 150, 380, 874);
 width: 400px;
 height: 50px;
 display: inline-block;
}
button{
  display: block;
  background-color: burlywood;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botongris{
    background-color: gray;
}

#perro{
    width: 300px;
}

.texto2{
    width: 25%;
    height: 40vh;
}

#textounico{
background-image: url(./Imagenes/fondo.webp);
width: 50%;
}

li{
    background-color: chocolate ;
}
